/* Styles pour la frise chronologique horizontale */
#time {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligne les éléments au début pour éviter le chevauchement */
    padding: 20px;
    max-height: 62vh; /* Utilise une hauteur maximale pour permettre le défilement */
    position: relative;
    overflow-x: auto; /* Ajoute une barre de défilement horizontale si nécessaire */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
    flex-wrap: nowrap; /* Empêche les éléments de se réorganiser sur plusieurs lignes */
}

.timeline-container {
    flex: 0 0 20%; /* Fixe la largeur des éléments à 20% */
    box-sizing: border-box;
    margin: 10px;
    position: relative;
    min-width: 300px; /* Assure une largeur minimale pour chaque conteneur */
    text-align: center;
}

.timeline-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
    .timeline-container {
        flex: 1 1 100%; /* Prend toute la largeur sur les petits écrans */
        min-width: auto; /* Supprime la largeur minimale sur les petits écrans */
    }
}

#time::before {
    content: '';
    position: absolute;
    bottom: 26vh;
    left: 0;
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: #000;
    transform: translateY(-100%);
}

.timeline-container::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 4px solid #d1c4e9;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.timeline-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 3;
    width: 100%;
}

.timeline-content h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Vercetti', sans-serif;
    font-size: 200%;
    color: #333;
}

.timeline-content p {
    font-size: 0.9em;
    color: #666;
    font-family: 'Chillax', sans-serif;
    font-size: 120%;
}

.timeline-content i {
    font-size: 4em;
    margin-bottom: 10px;
    color: #d1c4e9;
}

.timeline-container.top .timeline-content {
    margin-bottom: 40vh; /* Augmenter l'espacement au-dessus de la ligne */
    margin-top: 0;
}

.timeline-container.bottom .timeline-content {
    margin-top: 40vh; /* Augmenter l'espacement en dessous de la ligne */
}