.project-list {
    max-height: 63vh; /* Définir une hauteur fixe pour la liste des projets */
    overflow-y: auto; /* Activer le défilement vertical */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Définir 3 colonnes fixes */
    gap: 40px; /* Augmenter l'espace horizontal entre les items */
    margin-bottom: 20vh;
    padding: 10px;
}

.projects-container {
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
}

.gallery-item {
    position: relative;
    width: 93%;
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img {
    height: 20vh;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.description {
    text-align: center;
    margin-top: 10px;
    font-family: 'Chillax', sans-serif;
}

.description h3 {
    font-size: 1.5em;
    margin: 0;
}

.description p {
    font-size: 1em;
    color: #666;
}

.description .date {
    font-size: 0.9em;
    color: #999;
}

.description .authors {
    font-size: 0.9em;
    color: #999;
}

.like-button {
    background: none;
    border: none;
    color: #ff0000; /* Use the same color as the current like button */
    cursor: pointer;
    font-size: 24px;
    transition: color 0.3s ease;
}

.like-button:hover {
    color: #ff6666; /* Slightly lighter color on hover */
}

.popup {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 40%;
    border-radius: 8px;
    position: relative;
    text-align: center;
    font-family: 'Chillax', sans-serif;

}

.popup-project-icon {
    height: 30vh;
    border-radius: 8px;
}

.popup-content h3 {
    font-size: 2em;
}

.icon-project {
    height: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes hoverEffect {
    to {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre finale */
    }
}
.popup-footer {
    display: flex;
    align-items: center;
    gap: 10px; /* Espace entre les éléments */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.popup-footer .git-icon,
.popup-footer .like-button i{
    width: 8vh; /* Ajuster la taille de l'icône */
    height: 8vh; /* Ajustez la taille selon vos besoins */
    font-size: 8vh;
}

.popup-footer .git-icon:hover,
.popup-footer .like-button i:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.2); /* Initialement, pas d'ombre */
    animation: hoverEffect 0.3s forwards; /* Appliquer l'animation */
    background-color: #e9e9e9ba; /* Griser le fond de l'icône */
    border-radius: 50%; /* Ajouter des coins arrondis pour un meilleur effet visuel */
}