<!doctype html>
<html lang="fr">

<head>

	<meta charset="utf-8">
	<title> Bastien's personal page </title>

	<link rel="stylesheet" href="/style/style.css"/>
	<link rel="stylesheet" href="/style/home.css"/>
	<link rel="stylesheet" href="/style/fonts.css"/>
	<link rel="stylesheet" href="/style/font-page.css"/>

	<!-- <script src="assets/main.js"></script> -->
	<link rel="icon" type="image/x-icon" href="icon/watermelon.ico">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WHQKH19ZS9"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EBMWYZ6XSF');
	</script>
</head>

<body>
    <div id="app" class="row" >
        <h1 class="main-title">
            {{title}}
        </h1>
        <div class="main-content">
            <div class="window">
                <div class="window-header">
                    <div class="button red"></div>
                    <div class="button yellow"></div>
                    <div class="button green"></div>
                </div>
                <div class="navbar">
                    <a @click=homeFunction >Home</a>
                    <a @click=developmentFunction >Development</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                    <div class="dropdown">
                        <button class="dropdown-btn">Menu</button>
                        <div class="dropdown-content">
                            <a href="#option1">Option 1</a>
                            <a href="#option2">Option 2</a>
                            <a href="#option3">Option 3</a>
                        </div>
                    </div>
                </div>
                <div v-if="componentStatus['development']">
                    <development/>
                </div>
                <div v-if="componentStatus['home']">
                    <home />
                </div>
                <div class="intro-container">
                    <div class="intro-text-container">
                        <p class="intro-text">Hi, I'm Bastien</p>
                        <p>Student in 2nd year of engineering school in computer science in apprenticeship, <span class="highlight">volunteer firefighter</span>, practicing a lot of <span class="highlight">sports</span>, passionate about <span class="highlight">new technologies</span>.</p>
                    </div>
                    <div class="intro-image-container">
                        <img src="path/to/your/image.jpg" alt="Description of image">
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <small>Bastien Jacquelin © </small>
        </footer>
    </div>



    <script type="module">

        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
        import Development from '/views/development.js';
        import Home from '/views/home.js';
        const app = createApp({
            created()
            {
            },
            mounted()
            {},
            data(){
                return{
                    title:'Bastien\'s personal page',
                    componentStatus : {
                        'home': true,
                        'development': false,
                    },
                }
            },
            methods:{
                developmentFunction(){
                    this.setValueToFalse();
                    this.componentStatus['development'] = true;
                    this.title = "Development tools";
                },
                homeFunction(){
                    this.setValueToFalse();
                    this.componentStatus['home'] = true;
                    this.title = "Bastien's personal page";
                },
                setValueToFalse(){
                    for (const key in this.componentStatus) {
                        this.componentStatus[key] = false;
                    }
                }
            }
        });
        app.component('Development', Development)
            .component('Home', Home)
        app.mount('#app');
    </script>    
</body>

</html>