.contact {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 65vh;
    width: 85vw;
    margin-left: 1.5vw;
}

.carousel {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    display: none; /* Masquer les éléments non actifs */
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1; /* Assurez-vous que les éléments non actifs sont en arrière-plan */
}

.carousel-item.active {
    left: 0;
    opacity: 1;
    display: block; /* Afficher l'élément actif */
    z-index: 2; /* Assurez-vous que l'élément actif est au-dessus des autres */
}

.carousel-item.prev {
    left: -100%;
    opacity: 1;
    display: block; /* Afficher l'élément précédent */
    z-index: 1; /* Assurez-vous que l'élément précédent est en arrière-plan */
}

.carousel-item.next {
    left: 100%;
    opacity: 1;
    display: block; /* Afficher l'élément suivant */
    z-index: 1; /* Assurez-vous que l'élément suivant est en arrière-plan */
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 3; /* Assurez-vous que les contrôles sont au-dessus des éléments */
}

.carousel-control {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.carousel-control:hover::before {
    background-color: rgba(128, 128, 128, 0.5); /* Rond gris */
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 3; /* Assurez-vous que les indicateurs sont au-dessus des éléments */
}

.carousel-indicators span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators span.active {
    background-color: #8e44ad; /* Couleur violette */
}

.carousel-item a {
    text-decoration: none;
    color: #333;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}



.carousel-item a{
    margin: 6% 0;
    text-decoration: none;
    color: #333;
    font-size: 2em;
    display: flex;
    flex-direction: column; /* Ajoutez cette ligne */
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}


.carousel-item i {
    margin-right: 10px;
    font-size: 6em;
    transition: color 0.3s;
}

.carousel-item a:hover i {
    color: #0073b1; /* Hover color */
}

