.font-arial {
   font-family: 'Aerial', sans-serif;
}

.font-chillax {
   font-family: 'Chillax', sans-serif;
}

.font-vercetti {
   font-family: 'Vercetti', sans-serif;
}

.font-Nohemi {
   font-family: 'Nohemi', sans-serif;
}