html, body {
   height: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
   background-color: rgb(215, 240, 242);
}

/* Le conteneur principal prend tout l'espace disponible */
.main-content {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}


.main-title {
   text-align: center;
   font-family: Aerial;
   font-size: 200%;
}

/* Styles pour la fenêtre */
.window {
   width: 90vw; /* Utilisation de vw pour prendre 90% de la largeur de la fenêtre */
   height: 85vh; /* Utilisation de vh pour prendre 90% de la hauteur de la fenêtre */
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   position: relative;
}

/* Styles pour l'en-tête de la fenêtre */
.window-header {
   height: 30px;
   background-color: #e0e0e0;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   display: flex;
   align-items: center;
   padding-left: 10px;
}

.window-header .button {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   margin-right: 8px;
}

.button.red {
   background-color: #ff5f56;
}

.button.yellow {
   background-color: #ffbd2e;
}

.button.green {
   background-color: #27c93f;
}

/* Styles pour le footer */
footer {
   padding: 10px;
   text-align: center;
}

/* Styles pour la barre de navigation */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #333;
   padding: 10px;
   color: white;
   font-family: 'Nohemi';
   font-size: large;
}

/* Style pour les boutons de la barre de navigation */
.navbar a, .navbar .dropdown-btn {
   display: inline-block;
   padding: 10px 20px;
   margin: 5px;
   text-decoration: none;
   color: #fff;
   background-color: #333;
   border-radius: 5px;
   transition: background-color 0.3s;
}

.navbar a:hover, .navbar .dropdown-btn:hover {
   background-color: #555;
   cursor: pointer;
}


/* Styles pour la nouvelle barre de navigation */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #333;
   padding: 10px;
   color: white;
}

.navbar a, .navbar .dropdown-btn {
   display: inline-block;
   padding: 10px 20px;
   margin: 5px;
   text-decoration: none;
   color: #fff;
   background-color: #333;
   border-radius: 5px;
   transition: background-color 0.3s;
}

/* Styles pour le nouveau menu déroulant */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #3f3f3f;
   min-width: 100%;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 20;
   border-radius: 5px;
   overflow: hidden;
   text-align: center;
   margin-left: 3%;
}

.dropdown-content a {
   margin-top: 5%;
   color: #f1f1f1;
   text-decoration: none;
   display: block;
   transition: background-color 0.3s;
   background-color: #3f3f3f;

}

.dropdown-content a:hover {
   background-color: #f1f1f1;
   color: #000;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.dropdown-btn {
   width: 100%;
   box-sizing: border-box;
   border: none;
   outline: inherit;
   font-family: 'Nohemi';
   font-size: large;
    
}