body {
   /* background-image: url('/img/background.png'); */
   background-color : rgb(25, 25, 25);
}

h1{
   color: whitesmoke;
   text-align: center;
}

#navbar {
   width: 15rem;
   display: flex;
   flex-direction: column;
 }

 #navbar a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 #navbar a:hover {
   background-color: #ddd;
   color: black;
 }

 #navbar a.active {
   background-color: #ff6600; /* Couleur orange fluo */
   color: white;
 }

 #openMenu{
   width: 3rem;
   background-color: #333;
   border: 0px;
   align-items: center; /*aligner verticalement */
   justify-content: center; /*aligner horizontalement */
 }
 #openMenu img{
   width: 2.5rem;
 }

 #tabNav{
   background-color: #333;
   border-radius: 8px;
 }